.dashboard-calendar {
 display: flex;
 margin: auto;
 position: relative;
 text-align: center;
 width: 100%;
}

.rbc-calendar {
 margin: auto;
 width: 90%;
 z-index: 0;
 height: 500px;
}

.rbc-month-view {
  /*border: 1px solid blue;*/
  animation: fade-in 0.8s;
  box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.5);
}

.rbc-toolbar {
 flex-wrap: wrap;
 font-size: 16px;
 margin-bottom: 10px;
}
